<configuration>
    <!-- Per-Account ID logging (for account-specific requests) -->
    <appender name="SIFT_ACCOUNT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="morbid.logback.AccountDiscriminator">
            <defaultValue>no-account</defaultValue>
        </discriminator>
        <sift>
            <appender name="account-${account}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>/opt/morbid/service/shared/logs/account/${account}/account.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>/opt/morbid/service/shared/logs/account/${account}/account-%d{yyyy-MM-dd}.log.gz</FileNamePattern>
                    <maxHistory>90</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%date %-5level [%kvp] %-22thread{22} | %message%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/morbid/service/shared/logs/main/morbid.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/opt/morbid/service/shared/logs/main/%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%kvp] %-24logger{24} %-22thread{22} | %message%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %-5level [%kvp] %-24logger{24} %-22thread{22} | %message%n</Pattern>
        </layout>
    </appender>

    <logger name="io.netty.channel.DefaultChannelPipeline" level="OFF" />
    <logger name="account" additivity="false">
        <appender-ref ref="SIFT_ACCOUNT" />
    </logger>
    <root level="INFO">
        <appender-ref ref="MAIN"/>
    </root>
</configuration>
